<app-menu></app-menu>
<div class="" *ngIf="isLogged">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <h4>Estudiantes</h4>
                    <form class="form-inline">
                        <button type="button" (click)="RegistrarEstudiantes()" class="btn btn-outline-success my-sm-0 mr-sm-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>                            
                        </button>
                        <input class="form-control my-2 my-sm-0 mr-sm-3" name ="filterEstudiante" type="search" placeholder="Search" [(ngModel)] = "filterEstudiante">
                    </form>                    
                </div>
            </nav>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>NUM. DOCUMENTO</th>
                        <th>NOMBRE(S)</th>
                        <th>APELLIDOS</th>
                        <th>CURSO</th>
                        <th>OPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantes | filter: filterEstudiante
                     | paginate: { itemsPerPage: 10, currentPage: pageActual }" class="text-center">
                        <td>{{estudiante.dniEstudiante}}</td>
                        <td>{{estudiante.nombreEstudiante}}</td>
                        <td>{{estudiante.apellidoEstudiante}}</td>
                        <td>{{estudiante.curso.nombreCurso}}</td>
                        <td>
                            <button (click)="open(modalConsultarEstudiante,estudiante)"  class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                  </svg>
                            </button>
                            <button (click)="EditarEstudiante(estudiante)" class="btn btn-outline-dark" style="margin-left: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>
                            <button (click)="InactivarEstudiante(estudiante)" class="btn btn-outline-danger"
                                style="margin-left: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div>
<!--MODAL-->
<ng-template #modalConsultarEstudiante let-modal>
    <div class="modal-body">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Estudiante</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><label for=""><b>Id:</b></label></td>                                
                                <td><div style="font-size:15px;">{{estudianteModal.idEstudiante}}</div></td>                                
                            </tr>
                            <tr>
                                <td><label for=""><b>Num Documento:</b></label></td>                                
                                <td><div style="font-size:15px;">{{estudianteModal.dniEstudiante}}</div></td>                                
                            </tr>                            
                            <tr>
                                <td><label for=""><b>Tipo Documento:</b></label></td>                                
                                <td><div style="font-size:15px;">{{estudianteModal.tipoDocumento.nombreTipoDocumento}}</div></td>                                
                            </tr>
                            <tr>
                                <td><label for=""><b>Nombre:</b></label></td>                                
                                <td><div style="font-size:15px;">{{estudianteModal.nombreEstudiante}}</div></td>                                
                            </tr>
                            <tr>                                
                                <td><label for=""><b>Apellido:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.apellidoEstudiante}}</div></td> 
                            </tr>
                            <tr>                                
                                <td><label for=""><b>Curso:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.curso.nombreCurso}}</div></td> 
                            </tr>
                            <tr>                                
                                <td><label for=""><b>Telefono:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.telefonoEstudiante}}</div></td> 
                            </tr>
                            <tr>                                
                                <td><label for=""><b>Correo:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.correoEstudiante}}</div></td> 
                            </tr>                            
                            <tr>                                
                                <td><label for=""><b>Fecha de Nacimiento:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.fechaNacimientoEstudiante}}</div></td> 
                            </tr>
                            <tr>                                
                                <td><label for=""><b>Ciudad:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.ciudadEstudiante}}</div></td> 
                            </tr>    
                            <tr>                                
                                <td><label for=""><b>Nombre de Usuario:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.usuario.nombreUsuario}}</div></td> 
                            </tr>   
                            <tr>                                
                                <td><label for=""><b>Contraseña:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.usuario.contrasenia}}</div></td> 
                            </tr>                  
                            <tr>                                
                                <td><label for=""><b>Estado:</b></label></td> 
                                <td><div style="font-size:15px;">{{estudianteModal.estado}}</div></td> 
                            </tr>                                                                                                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
  </ng-template>