.main{
    background-image: url(../../assets/Bienvenida.jpg);    
    background-size: 100%;
    overflow: hidden;
    height: 116vh;
    background-position: 0 0;
    background-repeat: repeat-x;

}