.navegacion{
    margin: auto;
    background: #D90D32;
    padding-top: 0%;
}

.navegacion ul{
    list-style: none;
}

.menu {
    list-style: none;
    padding: 0;
    background: #D90D32;
    width: 95%;
    max-width: 2000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: #F2E6D8;
    padding: 13px;
    display: block;
}

.menu li {
    display: inline-table;
    text-align: center;
}

.menu li a:hover {
    background:#F2E6D8;
    color: #D90D32;
    cursor: pointer;
}
