<div class="container col-md-8">
    <div class="card">
        <div class="card-header">
            <h3>Asignacion Docente</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-success" *ngIf="!hide">{{message}}</div>
            <form action="">                
                <div class="form-group">
                    <label for="">Curso:</label>
                    <select class="form-control" [(ngModel)]="asignacionDocente.curso.idCurso" (ngModelChange)="obtenerListaMateriasPorCurso($event)" name="curso">
                        <option value="0">--seleccione--</option>
                        <option *ngFor="let curso of listaCursos" value={{curso.idCurso}}>{{curso.nombreCurso}}</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Materia:</label>
                    <select class="form-control" [(ngModel)]="asignacionDocente.materia.idMateria"  (ngModelChange)="obtenerListaMateriasPorCurso($event)" name="materia">
                        <option value="0">--seleccione--</option>
                        <option *ngFor="let materia of listaMaterias3" value={{materia.idMateria}}>{{materia.nombreMateria}}</option>
                      </select>
                </div>                
                <div class="form-group">
                    <label for="">Docente:</label>
                    <select class="form-control" [(ngModel)]="asignacionDocente.docente.idDocente" name="docente">
                        <option value="0">--seleccione--</option>
                        <option *ngFor="let docente of listaDocentes" value={{docente.idDocente}}>{{docente.nombreDocente}} {{docente.apellidoDocente}}</option>
                      </select>
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="asignacionDocente.estado" name="estado">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                      </select>
                </div>
                <button type="button" (click)="Registrar()" class="btn btn-danger" id="btnRegistrar">Registrar</button>
            </form>
        </div>
    </div>
</div>