<div>
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a (click)="ListarEstudiantes()">Estudiantes</a></li>
            <li><a (click)="ListarDocentes()">Docentes</a></li>
            <li><a (click)="ListarMaterias()">Materias</a></li>
            <li><a (click)="ListarCursos()">Cursos</a></li>
            <li><a (click)="ListarCalificaciones()">Calificaciones</a></li>
            <li><a (click)="Import()">Importacion</a></li>
        </ul>
    </nav><br>
</div>
<router-outlet></router-outlet>