
#Inactivos{    
    background:#F2E6D8; 
    cursor: pointer;
}

#activos{
    background:#94b7df;     
    cursor: pointer;
}

#contenedor{
    cursor: text;
    background:#ffffff;   
    
    min-width: 10px;
}

#todo,#todo div,#todo li{         
    display:inline-block;    
}

#botones button{
    display:inline-block;    
}



