<div class="main">
<app-menu></app-menu>
<div *ngIf="isLogged">
    <h3 style="margin-left: 5%;">{{curso.nombreCurso}}| {{materia.nombreMateria}}</h3>
    <button class="btn btn-primary" *ngIf="isDocente" (click)="editarButton()">Editar</button>
    <br><br>
    <div class="container" id="todo">
        
        <ul class="nav nav-tabs" id="myTab" role="tab">
            <div id="activos" *ngFor="let tema of temas">
                <li class="nav-item">
                    <a class="nav-link" (click)="cambio(tema.idTema)" id="tab_{{tema.idTema}}" data-toggle="tab"
                        role="tab" aria-controls="tema.idTema" aria-selected="true">
                        <div *ngIf="editar">
                            <div class="card" id="contenedor">
                                <div id="nombreCaja_{{tema.idTema}}" contenteditable="true">{{tema.nombreTema}}</div>
                            </div>
                            <button class="btn btn-danger btn-sm" (click)="inactivarActivarTema(tema)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor"
                                    class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                        </div>
                        <div *ngIf="!editar">
                            {{tema.nombreTema}}
                        </div>
                    </a>
                </li>
            </div>
            <div *ngIf="editar">
                <div id="Inactivos" *ngFor="let temaInactivos of temasInactivos">
                    <li class="nav-item">
                        <a class="nav-link" (click)="cambio(temaInactivos.idTema)" id="tab_{{temaInactivos.idTema}}"
                            data-toggle="tab" role="tab" aria-controls="temaInactivos.idTema" aria-selected="true">
                            <div class="card" id="contenedor">
                                <div id="nombreCaja_{{temaInactivos.idTema}}" contenteditable="true">
                                    {{temaInactivos.nombreTema}}</div>
                            </div>

                            <button class="btn btn-success btn-sm" (click)="inactivarActivarTema(temaInactivos)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor"
                                    class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                </svg>
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteTema(temaInactivos)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a id="agregarAqui" class="nav-link" data-toggle="tab" role="tab">
                            <button id="+" class="btn btn-outline-success btn-sm" (click)="agregarCampo()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab">
                            <button class="btn btn-success btn-sm" (click)="saveTema()">Guardar</button>
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>


    <div *ngFor="let tema of temasAll">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="{{tema.idTema}}" role="tabpanel" aria-labelledby="tab_tema.idTema">
                <div class="" *ngIf="isLogged">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-light" >
                                    <tr class="text-center">
                                        <th>Actividad</th>
                                        <th>Fecha Limite</th>
                                        <th *ngIf="editar">Opción</th>
                                    </tr>
                                </thead>                                
                                <tbody>
                                    <tr *ngFor="let docDocente of documentosDocenteActivos">                                        
                                            <td *ngIf="docDocente.tema.idTema == tema.idTema">
                                                <button class="btn btn-outline-primary" (click)="accion(docDocente.idDocumentosDocente)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        fill="currentColor" class="bi bi-journal-bookmark-fill"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z" />
                                                        <path
                                                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                                        <path
                                                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                                    </svg>
                                                </button>
                                                <a *ngIf="!isDocente" (click)="enviarId(docDocente.idDocumentosDocente)"
                                                    href="/addDocEstudiante">{{docDocente.nombreActividad}}</a>
                                                <a *ngIf="isDocente" (click)="enviarId(docDocente.idDocumentosDocente)"
                                                    href="/listarDocEstudiante">{{docDocente.nombreActividad}}</a>
                                            </td>
                                            <td *ngIf="docDocente.tema.idTema == tema.idTema" class="text-center">
                                                <div>{{docDocente.descripcionActividad}}</div>
                                            </td>
                                            <td class="text-center" id="botones" *ngIf="docDocente.tema.idTema == tema.idTema && editar" WIDTH="40%">
                                                <button (click)="EditarDocDocente(docDocente.idDocumentosDocente)"
                                                    class="btn btn-outline-dark">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                        fill="currentColor" class="bi bi-pencil-square"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd"
                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </button>
                                                <button (click)="inactivarActivarDocDocente(docDocente)"
                                                    class="btn btn-outline-danger" style="margin-left: 10px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                        fill="currentColor" class="bi bi-dash-circle"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                                    </svg>
                                                </button>
                                            </td>                                        
                                    </tr>
                                    <tr *ngFor="let docDocente of documentosDocenteInactivos">                                        
                                            <td *ngIf="docDocente.tema.idTema == tema.idTema && editar">
                                                <button class="btn btn-outline-danger" (click)="accion(docDocente.idDocumentosDocente)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        fill="currentColor" class="bi bi-journal-bookmark-fill"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z" />
                                                        <path
                                                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                                        <path
                                                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                                    </svg>
                                                </button>
                                                <a *ngIf="!isDocente" style="color: tomato;" (click)="enviarId(docDocente.idDocumentosDocente)"
                                                    href="/addDocEstudiante">{{docDocente.nombreActividad}}</a>
                                                <a *ngIf="isDocente" style="color: tomato;" (click)="enviarId(docDocente.idDocumentosDocente)"
                                                    href="/listarDocEstudiante">{{docDocente.nombreActividad}}</a>
                                            </td>
                                            <td *ngIf="docDocente.tema.idTema == tema.idTema && editar" class="text-center">
                                                {{docDocente.descripcionActividad}}
                                            </td>
                                            <td class="text-center" id="botones" *ngIf="docDocente.tema.idTema == tema.idTema && editar" WIDTH="40%">
                                                <button (click)="EditarDocDocente(docDocente.idDocumentosDocente)"
                                                    class="btn btn-outline-dark">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                        fill="currentColor" class="bi bi-pencil-square"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd"
                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </button>
                                                <button (click)="inactivarActivarDocDocente(docDocente)"
                                                    class="btn btn-outline-success" style="margin-left: 10px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                        fill="currentColor" class="bi bi-check-circle"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                    </svg>
                                                </button>
                                                <button (click)="deleteDocDocente(docDocente)"
                                                    class="btn btn-outline-danger" style="margin-left: 10px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                        fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                    </svg>
                                                </button>
                                            </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button style="margin-left: 47%;" *ngIf="editar && selectTema" class="btn btn-success" (click)="agregarDocDocente()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> Agregar
    </button>
</div>
</div>